@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* background-image: url("./images/pexels-photo-7061817.jpeg"); */
}

body {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: rgb(6, 165, 144);
  background-color: #212a37; 
  /* padding: 10rem; */
  /* background-image: url("./images/pexels-photo-7061817.jpeg"); */
  
  
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid rgb(1, 12, 12);
  /* background-color: rgb(26, 8, 8);
  background-color: rgb(21, 32, 3); */
  /* /background-image: url("./images/pexels-sevenstorm-juhaszimrus-704767.jpg"); */
  
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10rem;
  /* background-color: #ccc; */
}

.number {
  background: rgb(18, 131, 131);
  border-radius: 20%;
  /* box-shadow: rgb(1, 133, 1); */
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 2rem;
  border-style: dashed;
}

.between {
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-style:dotted;
}

.again {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.guess {
  background: none;
  border: 7px solid rgb(3, 3, 3);
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 22rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: 10rem;
  /* background-color: #eee; */
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  background-color: #5bb1fc;
  box-shadow: 0 0 .7rem #5bb1fc, 0 4px #2d57bb;
}

.btn:hover {
  background-color: rgb(66, 143, 190);
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 5rem;
  background-color: #5bb1fc;
  border-radius: 0.5rem;
  /* box-shadow: #ca0404; */
  width: 25rem;
  border-style: dashed;
  color: #222;
}
.label-highscore{
  background-color: #5bb1fc;
  border-radius: 0.5rem;
  /* box-shadow: #ca0404; */
  width: 25rem;
  color: #222;
  border-style: dashed;
}
